<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">

	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>.%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n</Pattern>
		</encoder>
	</appender>

	<appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>D:/log/chinaamc/management-cockpit2.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>var/log/chinaamc/management-cockpit2.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>         
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</pattern>
		</encoder>        
	</appender>

    <root level="INFO">
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="dailyRollingFileAppender"/>
    </root>

    <logger name="info.chinaamc" level="DEBUG"/>

</configuration>
