<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo2.mapper.ChinamutualfundstockportfolioMapper">
  <resultMap id="BaseResultMap" type="com.example.demo2.domain.Chinamutualfundstockportfolio">
    <!--@mbg.generated-->
    <!--@Table chinamutualfundstockportfolio-->
    <id column="s_info_windcode"  property="sInfoWindcode" />
    <result column="f_prt_enddate"  property="fPrtEnddate" />
    <result column="crncy_code"  property="crncyCode" />
    <result column="s_info_stockwindcode"  property="sInfoStockwindcode" />
    <result column="f_prt_stkvalue"  property="fPrtStkvalue" />
    <result column="f_prt_stkquantity"  property="fPrtStkquantity" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    s_info_windcode, f_prt_enddate, crncy_code, s_info_stockwindcode, f_prt_stkvalue, 
    f_prt_stkquantity
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from chinamutualfundstockportfolio
    where s_info_windcode like #{sInfoWindcode}
  </select>

</mapper>