<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.demo.mapper.PersonMapper">
  <resultMap id="BaseResultMap" type="com.hy.demo.domain.Person">
    <!--@Table person-->
    <id column="id" property="id" />
    <result column="per_name" property="perName" />
    <result column="per_pass" property="perPass" />
  </resultMap>
  <sql id="Base_Column_List">
    id, per_name, per_pass
  </sql>
  <select id="selectList" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from person
  </select>
</mapper>